/* Estilo geral do corpo da página */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Container principal */
.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

/* Título */
h1 {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #333;
}

/* Área onde a senha será exibida */
.password {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 20px;
    padding: 10px;
    background-color: #f1f1f1;
    border-radius: 5px;
    color: #333;
    letter-spacing: 1px;
}

/* Botão */
button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    margin-top: 15px;
    width: 100%;
}

button:hover {
    background-color: #0056b3;
}

/* Caixa de seleção (checkbox) */
.checkbox-container {
    margin-top: 10px;
    text-align: left;
    color: #555;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

input[type="number"]:focus {
    outline: none;
    border-color: #007BFF;
}

/* Labels */
label {
    font-size: 0.9em;
    margin-bottom: 5px;
    display: block;
    color: #555;
}